-e git+https://bitbucket.org/lokiarya/advanced-ta.git@d310fdf3bf5dc99c815f1b12b8683f1841ff9cda#egg=advanced_ta
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
exceptiongroup==1.2.2
fonttools==4.56.0
gprof2dot==2024.6.6
idna==3.10
iniconfig==2.1.0
joblib==1.4.2
kiwisolver==1.4.8
matplotlib==3.10.1
mplfinance==0.12.10b0
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pillow==11.2.1
pluggy==1.5.0
pyparsing==3.2.3
pytest==7.4.4
pytest-profiling==1.8.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
ta==0.11.0
threadpoolctl==3.6.0
tomli==2.2.1
tzdata==2025.2
urllib3==2.3.0
websocket-client==1.8.0
